@model Nettbutikken2Mvc.Models.dbVareKategori

@{
    ViewBag.Title = "addKategoriToDB";
}

<h2>addKategoriToDB</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html

}